# SPDX-FileCopyrightText: © 2025 Eashwar Ranganathan <eashwar@eashwar.com>
# SPDX-License-Identifier: MIT

# Python Stuff
*.py[cod]
__pycache__/
*.egg-info/
*.so
/dist/
/.pytest_cache/
/.ruff_cache/
/.benchmarks/
/.venv/

# Rust stuff
/target/
