name: PR Checks
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
permissions: {}

concurrency:
  group: ${{ github.workflow_ref }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-rust:
    if: github.event.pull_request.draft == false
    name: Lint / Rust
    runs-on: ubuntu-latest
    permissions:
      contents: read  # Required to check out the repo
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c  # v1.15.2
        with:
          toolchain: stable
          components: "clippy,rustfmt"
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@559aa3035a47390ba96088dffa783b5d26da9326  # v1.1.1
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
  lint-python:
    if: github.event.pull_request.draft == false
    name: Lint / Python
    runs-on: ubuntu-latest
    permissions:
      contents: read  # Required to check out the repo
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41  # v7.1.2
      - run: uv sync --locked --no-default-groups --group lint
      - run: uv run --frozen ruff check --diff
      - run: uv run --frozen ruff format --diff
      - run: uv run --frozen ty check
  lint-green:
    if: always()
    needs:
      - lint-rust
      - lint-python
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe  # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
  tests:
    if: github.event.pull_request.draft == false
    needs: [lint-python]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14", "3.14t"]
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            os-name: Ubuntu
          - os: macos-latest
            os-name: MacOS
    name: Tests / ${{ matrix.os-name }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read  # Required to check out the repo
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41  # v7.1.2
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv sync --locked --no-default-groups --group test
      - run: uv run --frozen pytest tests
  tests-green:
    if: always()
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe  # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
